

# Organizar datos

Otra de las fases del proceso de data wrangling consiste en dar una estructura a los datos, normálmente esta fase conlleva las siguientes operaciones:

- Establecer índices, renombrar columnas.

- Ordenar valores.

- Eliminar duplicados

- Filtrar información

- Añadir/eliminar registros y/o columnas.

- Editar información

- Modificar la estructura de los datos

## Establecer índices, renombrar columnas

In [13]:
import pandas as pd
import numpy as np
from collections import OrderedDict

In [14]:
# Tomamos como ejemplo de nuevo el dataset de pokemon

pokemon = spark.read.csv('/data/sandboxes/fcol/data/data/pokemon.csv',sep=",",inferSchema=True,header=True).toPandas()
pokemon.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,None,39,52,43,60,50,65,1,False

En este caso podríamos querer usar el nombre (Name) como índice de la tabla, lo haríamos mediante el método `set_index()`

In [15]:
pokemon.set_index('Name',inplace=True)
pokemon.head()

,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,
Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
Charmander,Fire,None,39,52,43,60,50,65,1,False

Podemos volver al índice numérico con `reset_index`

In [16]:
pokemon.reset_index(inplace=True)
pokemon.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,None,39,52,43,60,50,65,1,False

Para modificar el nombre de las columnas tenemos estas opciones

In [17]:
# Pasar toda la lista de nombres, con la modificación deseada, en este caso cambiar Name a Nombre

pokemon.columns = ['Nombre', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk','Sp. Def', 'Speed', 'Generation', 'Legendary']

print(pokemon.columns)

Index(['Nombre', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [18]:
# Pasar un diccionario con las modificaciones

pokemon.rename(columns= {'Nombre' : 'Name'}, inplace=True)
print(pokemon.columns)

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

El método rename también permite modificar el nombre del índice de un registro, como vemos en el siguiente ejemplo.

In [19]:
# Comprobamos el valor del índice de Ivysaur, que es 1

pokemon.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,None,39,52,43,60,50,65,1,False

In [20]:
# Modificamos el nombre del índice 1 a 3

pokemon.rename(index={1:3},inplace=True)
pokemon.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
3,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,None,39,52,43,60,50,65,1,False

## Ordernar

Ordenar de forma ascendete/descendente en función de los datos o índices que acabamos de crear, es útil para otras operaciones ya que acelera las búsquedas dentro del dataset

In [21]:
# Establecemos el Name como índice de nuevo de cara a los siguientes ejercicios.
# Vemos que el índice de la tabla(nombre del pokemon) no está ordenado alfabéticamente

pokemon.set_index('Name',inplace=True)
pokemon.head()

,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,
Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
Charmander,Fire,None,39,52,43,60,50,65,1,False

In [22]:
# Aplicamos una ordenación por índice

pokemon.sort_index(inplace=True)
pokemon.head()

,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,
Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
Abra,Psychic,None,25,20,15,105,55,90,1,False
Absol,Dark,None,65,130,60,75,60,75,3,False
Accelgor,Bug,None,80,70,40,100,60,145,5,False
Aegislash Blade Forme,Steel,Ghost,60,150,50,150,50,60,6,False

In [23]:
# Para aplicar el sort en ordern inverso

pokemon.sort_index(ascending=False).head()

,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,
Zygarde Half Forme,Dragon,Ground,108,100,121,81,95,95,6,True
Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
Zubat,Poison,Flying,40,45,35,30,40,55,1,False
Zorua,Dark,None,40,65,40,80,40,65,5,False
Zoroark,Dark,None,60,105,60,120,60,105,5,False

Igualmente podemos ordenar en funcion de los valores de las columnas

In [24]:
# Ordenamos por order ascendente de ataque

pokemon.sort_values('Attack').head()

,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,
Chansey,Normal,None,250,5,5,35,105,50,1,False
Happiny,Normal,None,100,5,5,15,65,30,4,False
Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
Blissey,Normal,None,255,10,10,75,135,55,2,False
Magikarp,Water,None,20,10,55,15,20,80,1,False

In [25]:
# Para aplicar un sort sobre varias columnas usando distintos tipos de orden sobre cada una de ellas.

pokemon.sort_values(['Attack','Defense'], ascending=[True,False])

,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,
Chansey,Normal,None,250,5,5,35,105,50,1,False
Happiny,Normal,None,100,5,5,15,65,30,4,False
Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
Magikarp,Water,None,20,10,55,15,20,80,1,False
Blissey,Normal,None,255,10,10,75,135,55,2,False
Feebas,Water,None,20,15,20,10,55,80,3,False
Togepi,Fairy,None,35,20,65,40,65,20,2,False
Metapod,Bug,None,50,20,55,25,25,30,1,False
Mantyke,Water,Flying,45,20,50,60,120,50,4,False
Marill,Water,Fairy,70,20,50,20,50,40,2,False
Azurill,Normal,Fairy,50,20,40,20,40,20,3,False
Smeargle,Normal,None,55,20,35,20,45,75,2,False
Ledyba,Bug,Flying,40,20,30,40,80,55,2,False
Abra,Psychic,None,25,20,15,105,55,90,1,False
Spewpa,Bug,None,45,22,60,27,30,29,6,False
Wynaut,Psychic,None,95,23,48,23,48,23,3,False
Bronzor,Steel,Psychic,57,24,86,24,86,23,4,False
Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
Mime Jr.,Psychic,Fairy,20,25,45,70,90,60,4,False
Munna,Psychic,None,76,25,45,67,55,24,5,False
Kricketot,Bug,None,37,25,41,25,41,25,4,False
Spoink,Psychic,None,60,25,35,70,80,60,3,False
Cleffa,Fairy,None,50,25,28,45,55,15,2,False
Ralts,Psychic,Fairy,28,25,25,45,35,40,3,False
Cottonee,Grass,Fairy,40,27,60,37,50,66,5,False
Burmy,Bug,None,40,29,45,29,45,36,4,False
Darmanitan Zen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
Yamask,Ghost,None,38,30,85,55,65,30,5,False
Litwick,Ghost,Fire,50,30,55,65,55,20,5,False
Luvdisc,Water,None,43,30,55,40,65,97,3,False
...,...,...,...,...,...,...,...,...,...,...
Haxorus,Dragon,None,76,147,90,60,70,97,5,False
Groudon,Ground,None,100,150,140,100,90,90,3,True
Mega Scizor,Bug,Steel,70,150,140,65,100,75,2,False
Zekrom,Dragon,Electric,100,150,120,120,100,90,5,True
Mega Swampert,Water,Ground,100,150,110,95,110,70,3,False
Primal Kyogre,Water,None,100,150,90,180,160,90,3,True
Rayquaza,Dragon,Flying,105,150,90,150,90,95,3,True
Mega Mewtwo Y,Psychic,None,106,150,70,194,120,140,1,True
Mega Absol,Dark,None,65,150,60,115,60,115,3,False
Aegislash Blade Forme,Steel,Ghost,60,150,50,150,50,60,6,False
Deoxys Normal Forme,Psychic,None,50,150,50,150,50,150,3,True
Mega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
Mega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
Mega Gyarados,Water,Dark,95,155,109,70,130,81,1,False
Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
Regigigas,Normal,None,110,160,110,80,110,100,4,True
Slaking,Normal,None,150,160,100,95,65,100,3,False
Mega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
Mega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,False
Mega Gallade,Psychic,Fighting,68,165,95,65,115,110,4,False
Mega Banette,Ghost,None,64,165,75,93,83,75,3,False
Rampardos,Rock,None,97,165,60,65,50,58,4,False
Mega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False
Kyurem Black Kyurem,Dragon,Ice,125,170,100,120,90,95,5,True
Primal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
Mega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
DeoxysAttack Forme,Psychic,None,50,180,20,180,20,150,3,True
Mega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
Mega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True

## Eliminar duplicados

Todos dataset son susceptibles de tener registros duplicados, total o parcialmente, lo que según cada caso puede tener sentido o no. Veamos como identificarlos y tratarlos.

In [26]:
# Cargamos de nuevo el dataset

pokemon = spark.read.csv('/data/sandboxes/fcol/data/data/pokemon.csv',sep=",",inferSchema=True,header=True).toPandas()

In [27]:
# Mediante duplicated obtenemos si existe algún registro duplicado, a nivel de todos los campos

pokemon.duplicated().any()

False

In [28]:
# Podemos aplicar ese filtro a un número determinado de campos

print('¿Existen pokemons con igual nombre?','\n')
print(pokemon['Name'].duplicated().any(),'\n')
print('¿Existen pokemons de igual Type 1?','\n')
print(pokemon['Type 1'].duplicated().any(),'\n')

¿Existen pokemons con igual nombre?

False

¿Existen pokemons de igual Type 1?

True

Para eliminar los registros duplicados usamos `drop_duplicates`, que requiere el parámetro inplace=True para modificar el dataset original.

In [29]:
# En este caso no eliminaríamos ningún registro, ya que acabamos de ver que no hay pokemons iguales

pokemon.drop_duplicates()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,None,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,None,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,Mega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,Mega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,Squirtle,Water,None,44,48,65,50,64,43,1,False
10,Wartortle,Water,None,59,63,80,65,80,58,1,False
11,Blastoise,Water,None,79,83,100,85,105,78,1,False
12,Mega Blastoise,Water,None,79,103,120,135,115,78,1,False
13,Caterpie,Bug,None,45,30,35,20,20,45,1,False
14,Metapod,Bug,None,50,20,55,25,25,30,1,False
15,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
16,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
17,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
18,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False
19,Mega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
20,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,Mega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
24,Rattata,Normal,None,30,56,35,25,35,72,1,False
25,Raticate,Normal,None,55,81,60,50,70,97,1,False
26,Spearow,Normal,Flying,40,60,30,31,31,70,1,False
27,Fearow,Normal,Flying,65,90,65,61,61,100,1,False
28,Ekans,Poison,None,35,60,44,40,54,55,1,False
29,Arbok,Poison,None,60,85,69,65,79,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...
770,Sylveon,Fairy,None,95,65,65,110,130,60,6,False
771,Hawlucha,Fighting,Flying,78,92,75,74,63,118,6,False
772,Dedenne,Electric,Fairy,67,58,57,81,67,101,6,False
773,Carbink,Rock,Fairy,50,50,150,50,150,50,6,False
774,Goomy,Dragon,None,45,50,35,55,75,40,6,False
775,Sliggoo,Dragon,None,68,75,53,83,113,60,6,False
776,Goodra,Dragon,None,90,100,70,110,150,80,6,False
777,Klefki,Steel,Fairy,57,80,91,80,87,75,6,False
778,Phantump,Ghost,Grass,43,70,48,50,60,38,6,False
779,Trevenant,Ghost,Grass,85,110,76,65,82,56,6,False
780,Pumpkaboo Average Size,Ghost,Grass,49,66,70,44,55,51,6,False
781,Pumpkaboo Small Size,Ghost,Grass,44,66,70,44,55,56,6,False
782,Pumpkaboo Large Size,Ghost,Grass,54,66,70,44,55,46,6,False
783,Pumpkaboo Super Size,Ghost,Grass,59,66,70,44,55,41,6,False
784,Gourgeist Average Size,Ghost,Grass,65,90,122,58,75,84,6,False
785,Gourgeist Small Size,Ghost,Grass,55,85,122,58,75,99,6,False
786,Gourgeist Large Size,Ghost,Grass,75,95,122,58,75,69,6,False
787,Gourgeist Super Size,Ghost,Grass,85,100,122,58,75,54,6,False
788,Bergmite,Ice,None,55,69,85,32,35,28,6,False
789,Avalugg,Ice,None,95,117,184,44,46,28,6,False
790,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
791,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
792,Xerneas,Fairy,None,126,131,95,131,98,99,6,True
793,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
794,Zygarde Half Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [30]:
# Si aplicamos el filtro únicamente a la columna Type 1 si que encontramos duplicados, que eliminaremos,
# quedándonos únicamente con la primera ocurrencia.

pokemon.drop_duplicates(subset=['Type 1'], keep='first')

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
4,Charmander,Fire,None,39,52,43,60,50,65,1,False
9,Squirtle,Water,None,44,48,65,50,64,43,1,False
13,Caterpie,Bug,None,45,30,35,20,20,45,1,False
20,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
28,Ekans,Poison,None,35,60,44,40,54,55,1,False
30,Pikachu,Electric,None,35,55,40,50,50,90,1,False
32,Sandshrew,Ground,None,50,75,85,20,30,40,1,False
40,Clefairy,Fairy,None,70,45,48,60,65,35,1,False
61,Mankey,Fighting,None,40,80,35,35,45,70,1,False
68,Abra,Psychic,None,25,20,15,105,55,90,1,False
80,Geodude,Rock,Ground,40,80,100,30,30,20,1,False
99,Gastly,Ghost,Poison,30,35,30,100,35,80,1,False
133,Jynx,Ice,Psychic,65,50,35,115,95,95,1,False
159,Dratini,Dragon,None,41,64,45,50,50,50,1,False
212,Umbreon,Dark,None,95,65,110,60,130,65,2,False
223,Steelix,Steel,Ground,75,85,200,55,65,30,2,False
702,Tornadus Incarnate Forme,Flying,None,79,115,70,125,80,111,5,True

## Aplicar filtros

Aplicar filtros sobre los datos es muy útil de cara a conocer como se distribuyen nuestros datos y con ello realizar transformaciones sobre los mismos

In [31]:
# Para aplicar un filtro tenemos que establecer una condición sobre los datos

pokemon[pokemon['Attack'] > 150]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
137,Mega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
141,Mega Gyarados,Water,Dark,95,155,109,70,130,81,1,False
163,Mega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
232,Mega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
268,Mega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,False
279,Mega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
313,Slaking,Normal,None,150,160,100,95,65,100,3,False
387,Mega Banette,Ghost,None,64,165,75,93,83,75,3,False
424,Primal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
426,Mega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
429,DeoxysAttack Forme,Psychic,None,50,180,20,180,20,150,3,True
454,Rampardos,Rock,None,97,165,60,65,50,58,4,False
494,Mega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False
527,Mega Gallade,Psychic,Fighting,68,165,95,65,115,110,4,False
543,Regigigas,Normal,None,110,160,110,80,110,100,4,True
711,Kyurem Black Kyurem,Dragon,Ice,125,170,100,120,90,95,5,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True

Los operadores lógicos se resumen en esta imagen

<center><img src="img/logicaloperators.png"></center>

In [32]:
# Se pueden aplicar varios condiciones simultáneamente

pokemon[(pokemon['Attack'] > 110) & (pokemon['Type 1'] == 'Water')]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
107,Kingler,Water,None,55,130,115,50,50,75,1,False
140,Gyarados,Water,Flying,95,125,79,60,100,81,1,False
141,Mega Gyarados,Water,Dark,95,155,109,70,130,81,1,False
283,Mega Swampert,Water,Ground,100,150,110,95,110,70,3,False
348,Sharpedo,Water,Dark,70,120,40,95,40,95,3,False
349,Mega Sharpedo,Water,Dark,70,140,70,110,65,105,3,False
374,Crawdaunt,Water,Dark,63,120,85,90,55,55,3,False
422,Primal Kyogre,Water,None,100,150,90,180,160,90,3,True
541,Palkia,Water,Dragon,90,120,100,150,120,100,4,True

In [33]:
# Para evitar tener que agrupar varios filtros usamos .isin()

pokemon[(pokemon['Attack'] > 110) & (pokemon['Type 1'].isin(['Water','Grass','Fire']))]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
7,Mega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
107,Kingler,Water,None,55,130,115,50,50,75,1,False
140,Gyarados,Water,Flying,95,125,79,60,100,81,1,False
141,Mega Gyarados,Water,Dark,95,155,109,70,130,81,1,False
147,Flareon,Fire,None,65,130,60,95,110,65,1,False
263,Entei,Fire,None,115,115,85,90,75,100,2,True
270,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
278,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,Mega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
283,Mega Swampert,Water,Ground,100,150,110,95,110,70,3,False
310,Breloom,Grass,Fighting,60,130,80,60,60,70,3,False
348,Sharpedo,Water,Dark,70,120,40,95,40,95,3,False
349,Mega Sharpedo,Water,Dark,70,140,70,110,65,105,3,False
354,Mega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
363,Cacturne,Grass,Dark,70,115,60,115,60,55,3,False
374,Crawdaunt,Water,Dark,63,120,85,90,55,55,3,False
422,Primal Kyogre,Water,None,100,150,90,180,160,90,3,True
511,Mega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
541,Palkia,Water,Dragon,90,120,100,150,120,100,4,True
559,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
615,Darmanitan Standard Mode,Fire,None,105,140,55,30,55,95,5,False

In [34]:
# Tambien es posible usar el método `between`

pokemon['Attack'].between(110,150)

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7       True
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19      True
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
770    False
771    False
772    False
773    False
774    False
775    False
776    False
777    False
778    False
779     True
780    False
781    False
782    False
783    False
784    False
785    False
786    False
787    False
788    False
789     True
790    False
791    False
792     True
793     True
794    False
795    False
796    False
797     True
798    False
799     True
Name: Attack, Length: 800, dtype: bool

Hasta ahora hemos visto como realizar filtros sobre el contenido, pero si queremos seleccionar por filas es necesario recurrir a los métodos `.iloc[], .loc[], .ix[]` 

Recordamos que .iloc[] realiza la selección de registros por el índice numérico, .loc[] a través de la etiqueta del índice e .ix[] permite el uso tanto de etiquetas como de valores numéricos, sin embargo, no se recomienda su uso ya que se encuentra deprecado desde la versión 0.20.0 de Pandas.

Veamos algunos ejemplos de selección de registros con .iloc[] y .loc[]

In [35]:
# Selección de un registro

pokemon.iloc[3]

Name          Mega Venusaur
Type 1                Grass
Type 2               Poison
HP                       80
Attack                  100
Defense                 123
Sp. Atk                 122
Sp. Def                 120
Speed                    80
Generation                1
Legendary             False
Name: 3, dtype: object

In [36]:
# Selección mediante intervalo

pokemon.iloc[3:6]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,None,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,None,58,64,58,80,65,80,1,False

In [37]:
# Selección mediante una lista

pokemon.iloc[[3,7,9]]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
7,Mega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
9,Squirtle,Water,None,44,48,65,50,64,43,1,False

In [38]:
# Selección de un registro y un único campo

pokemon.iloc[3, 1]

'Grass'

In [39]:
# Selección de varios registros y varios campos

pokemon.iloc[[3,9,18], [1,4,5]]

   Type 1  Attack  Defense
3   Grass     100      123
9   Water      48       65
18    Bug      90       40

El método .loc[] se utiliza a través de la etiqueta del índice

In [40]:
pokemon.set_index('Name',inplace=True)
pokemon.head()

,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,
Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
Charmander,Fire,None,39,52,43,60,50,65,1,False

In [41]:
# Selección de un registro

pokemon.loc['Ivysaur']

Type 1         Grass
Type 2        Poison
HP                60
Attack            62
Defense           63
Sp. Atk           80
Sp. Def           80
Speed             60
Generation         1
Legendary      False
Name: Ivysaur, dtype: object

In [42]:
# Selección de varios registro

pokemon.loc[['Ivysaur','Venusaur','Charmander']]

,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,
Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
Charmander,Fire,None,39,52,43,60,50,65,1,False

In [43]:
# Selección de varios registros y varias columnas

pokemon.loc[['Ivysaur','Venusaur','Charmander'], ['Attack','Defense']]

            Attack  Defense
Name
Ivysaur         62       63
Venusaur        82       83
Charmander      52       43

## Añadir/eliminar registros y/o columnas

En ocasiones es necesario eliminar registros o columnas que no son necesarios, veamos como hacerlo.

In [44]:
# Borrado de un único registro por etiqueta

print('Número de pokemons','\n')
print(pokemon.shape[0],'\n')
pokemon.drop('Charmander',inplace=True)
print('Número de pokemons trás el borrado','\n')
print(pokemon.shape[0],'\n')

Número de pokemons

800

Número de pokemons trás el borrado

799

Es posible eliminar una columna entera indicando su nombre y el eje correspondiente (axis=1)

In [45]:
# Eliminamos la columna 'Generation'

pokemon.drop('Generation',axis=1,inplace=True)
pokemon.head()

,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
Name,,,,,,,,,
Bulbasaur,Grass,Poison,45,49,49,65,65,45,False
Ivysaur,Grass,Poison,60,62,63,80,80,60,False
Venusaur,Grass,Poison,80,82,83,100,100,80,False
Mega Venusaur,Grass,Poison,80,100,123,122,120,80,False
Charmeleon,Fire,None,58,64,58,80,65,80,False

El borrado de columnas también es posible realizarlo mediante la built-in función `del`

In [46]:
del pokemon['Speed']
pokemon.head()

              Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Legendary
Name
Bulbasaur      Grass  Poison  45      49       49       65       65      False
Ivysaur        Grass  Poison  60      62       63       80       80      False
Venusaur       Grass  Poison  80      82       83      100      100      False
Mega Venusaur  Grass  Poison  80     100      123      122      120      False
Charmeleon      Fire    None  58      64       58       80       65      False

Para agregar una nueva columna haremos una asignación de un contenido a una columna que no exista

In [47]:
# Creamos una nueva columna 'Level'

pokemon['Level'] = pokemon['Attack']*2
pokemon.head()

,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Legendary,Level
Name,,,,,,,,,
Bulbasaur,Grass,Poison,45,49,49,65,65,False,98
Ivysaur,Grass,Poison,60,62,63,80,80,False,124
Venusaur,Grass,Poison,80,82,83,100,100,False,164
Mega Venusaur,Grass,Poison,80,100,123,122,120,False,200
Charmeleon,Fire,None,58,64,58,80,65,False,128

Si queremos añadir algún registro nuevo, tenemos que proporcinar la información para las columnas.

In [48]:
# Creamos la información del nuevo pokemon

data = {'Name': ['Charmander_BLUE'],
        'Type 1': ['Fire'],
        'Type 2': ['Water'],
        'HP': [100]}

new_pokemon = pd.DataFrame(data)

In [37]:
# Añadimos el nuevo registro

pokemon = pokemon.append(new_pokemon)
pokemon[pokemon['Name']=='Charmander_BLUE']

,Attack,Defense,HP,Legendary,Level,Name,Sp. Atk,Sp. Def,Type 1,Type 2
0,NaN,NaN,100,NaN,NaN,Charmander_BLUE,NaN,NaN,Fire,Water

## Editar información

Para editar el contenido del dataframe podemos modificar toda una columna en bloque, usando el método de asignación (=)

In [38]:

pokemon['Speed'] = pokemon['Attack']/pokemon['Defense']
pokemon['Speed'].head()

Bulbasaur        1.000000
Ivysaur          0.984127
Venusaur         0.987952
Mega Venusaur    0.813008
Charmeleon       1.103448
Name: Speed, dtype: float64

También podemos editar el contenido de un registro concreto y de alguno o todos sus campos. Para ello nos basamos en los método de selección de registros .iloc/.loc antes explicados.

In [39]:
# Vemos la información del pokemon del índice 10

pokemon.iloc[10]

Attack          83
Defense        100
HP              79
Legendary    False
Level          166
Name           NaN
Sp. Atk         85
Sp. Def        105
Type 1       Water
Type 2         NaN
Speed         0.83
Name: Blastoise, dtype: object

In [40]:
# Modificamos el contenido (campos 0, 1 y 4) del registro 10 asignando nueva información.

pokemon.iloc[10, [0,1,4]] = [100,130,True]

In [41]:
pokemon.iloc[10]

Attack         100
Defense        130
HP              79
Legendary    False
Level         True
Name           NaN
Sp. Atk         85
Sp. Def        105
Type 1       Water
Type 2         NaN
Speed         0.83
Name: Blastoise, dtype: object

## Modificar la estructura de los datos

### Pivot, stack/unstack, melt

Existen varias métodos que nos permiten transformar la estructura de las tablas, haciendo agrupaciones de datos, trasladando índices de columnas a filas y agrupando varias columnas en otras nuevas. Estos son los métodos pivot, stack/unstack y melt.

La función **pivot** se usa para crear una nueva tabla derivada a partir de otra.

In [42]:
# Creamos un dataframe ejemplo

table = OrderedDict((
    ("Item", ['Item0', 'Item0', 'Item1', 'Item1']),
    ('CType',['Gold', 'Bronze', 'Gold', 'Silver']),
    ('USD',  ['1$', '2$', '3$', '4$']),
    ('EU',   ['1€', '2€', '3€', '4€'])
))
d = pd.DataFrame(table)

In [43]:
d

    Item   CType USD  EU
0  Item0    Gold  1$  1€
1  Item0  Bronze  2$  2€
2  Item1    Gold  3$  3€
3  Item1  Silver  4$  4€

In [44]:
# Creamos la pivot-table
p = d.pivot(index='Item', columns='CType', values='USD')
p

CType Bronze Gold Silver
Item
Item0     2$   1$   None
Item1   None   3$     4$

Hacer **stack** en un Dataframe significa mover la columna más interna (rotando el dataframe) para convertirla en el índice de fila más interno.

In [45]:
# Generamos un dataframe con varios índices tanto a nivel de columna como de fila
row_idx_arr = list(zip(['r0', 'r0'], ['r-00', 'r-01']))
row_idx = pd.MultiIndex.from_tuples(row_idx_arr)


col_idx_arr = list(zip(['c0', 'c0', 'c1'], ['c-00', 'c-01', 'c-10']))
col_idx = pd.MultiIndex.from_tuples(col_idx_arr)


d = pd.DataFrame(np.arange(6).reshape(2,3), index=row_idx, columns=col_idx)
d = d.applymap(lambda x: (x // 3, x % 3))
d

             c0              c1
           c-00    c-01    c-10
r0 r-00  (0, 0)  (0, 1)  (0, 2)
   r-01  (1, 0)  (1, 1)  (1, 2)

In [46]:
# Al hacer stack del DF estamos moviendo la columna más interior hasta el índice de las filas

s = d.stack()
s

                  c0      c1
r0 r-00 c-00  (0, 0)     NaN
        c-01  (0, 1)     NaN
        c-10     NaN  (0, 2)
   r-01 c-00  (1, 0)     NaN
        c-01  (1, 1)     NaN
        c-10     NaN  (1, 2)

In [47]:
# Podemos deshacer la operación mediante unstack

u = d.unstack()
u

        c0                              c1
      c-00            c-01            c-10
      r-00    r-01    r-00    r-01    r-00    r-01
r0  (0, 0)  (1, 0)  (0, 1)  (1, 1)  (0, 2)  (1, 2)

Por último tenemos la operación **melt**, que nos permite realizar la agrupación de varias columnas relacionadas en una nueva.

In [48]:
# Creamos un dataframe

data = {'weekday': ["Monday", "Tuesday", "Wednesday", 
         "Thursday", "Friday", "Saturday", "Sunday"],
        'Person 1': [12, 6, 5, 8, 11, 6, 4],
        'Person 2': [10, 6, 11, 5, 8, 9, 12],
        'Person 3': [8, 5, 7, 3, 7, 11, 15]}
df = pd.DataFrame(data, columns=['weekday',
        'Person 1', 'Person 2', 'Person 3'])

In [49]:
df

     weekday  Person 1  Person 2  Person 3
0     Monday        12        10         8
1    Tuesday         6         6         5
2  Wednesday         5        11         7
3   Thursday         8         5         3
4     Friday        11         8         7
5   Saturday         6         9        11
6     Sunday         4        12        15

In [50]:
# Realizamos la agrupación por día de la semana y por la nueva variable persona.

melted = pd.melt(df, id_vars=["weekday"], 
                 var_name="Person", value_name="Score")

In [51]:
melted

      weekday    Person  Score
0      Monday  Person 1     12
1     Tuesday  Person 1      6
2   Wednesday  Person 1      5
3    Thursday  Person 1      8
4      Friday  Person 1     11
5    Saturday  Person 1      6
6      Sunday  Person 1      4
7      Monday  Person 2     10
8     Tuesday  Person 2      6
9   Wednesday  Person 2     11
10   Thursday  Person 2      5
11     Friday  Person 2      8
12   Saturday  Person 2      9
13     Sunday  Person 2     12
14     Monday  Person 3      8
15    Tuesday  Person 3      5
16  Wednesday  Person 3      7
17   Thursday  Person 3      3
18     Friday  Person 3      7
19   Saturday  Person 3     11
20     Sunday  Person 3     15

# Ejercicios

## Ejercicio 1 

Dado el fichero de datos data/chipotle.tsv

- a. Cargue el fichero en un dataframe y estudie las estructura de los datos
- b. Transforme la columna item_price a float.
- c. Cuantos productos cuestan más de 10$
- d. ¿Cual es la cantidad del producto más caro ordenado?
- e. ¿Cuantas veces los cientes consumen más de una Canned Soda?

##### Solución Ejercicio 1

Cargue el fichero en un dataframe y estudie las estructura de los datos

In [52]:
# Aqui su respuesta

In [53]:
# Aqui su respuesta

In [54]:
# Aqui su respuesta

Transforme la columna item_price a float

In [55]:
# Aqui su respuesta

Cuantos productos cuestan más de 10$

In [56]:
# Aqui su respuesta

¿Cual es la cantidad del producto más caro ordenado?

In [57]:
# Aqui su respuesta

¿Cuantas veces los cientes consumen más de una Canned Soda?

In [58]:
# Aqui su respuesta

## Ejercicio 2 

Dado el fichero de datos ../../data/iris.data

- a. Cargue el fichero en un dataframe y estudie las estructura de los datos
- b. Asigne a las columnas los siguientes nombres: sepal_length, sepal_width, petal_length, petal_width y class
- c. Elimine la columna class
- d. Asigne valores nulos a las 3 primeras filas y después elimíne las filas con NaNs
- e. Reinicie el índice de los registros

Cargue el fichero en un dataframe y estudie las estructura de los datos

In [59]:
# Aqui su respuesta

Asigne a las columnas los siguientes nombres: sepal_length, sepal_width, petal_length, petal_width y class

In [60]:
# Aqui su respuesta

Elimine la columna class

In [61]:
# Aqui su respuesta

Asigne valores nulos a las 3 primeras filas y después elimíne las filas con NaNs

In [62]:
# Aqui su respuesta

In [63]:
# Aqui su respuesta

Reinicie el índice de los registros

In [64]:
# Aqui su respuesta

## Ejercicio 3 

Dado el dataset ../../data/worldstats.csv

- a. Cargue el fichero en un dataframe y estudie las estructura de los datos.
- b. Reasigne el índice  de modo que el DF resultante tenga el país y el año como índice de los registros
- c. Modifique la estructura del DF de modo que por cada registro haya un único valor para Population y GDP

Cargue el fichero en un dataframe y estudie las estructura de los datos.

In [65]:
# Aqui su respuesta

Reasigne el índice  de modo que el DF resultante tenga el país y el año como índice de los registros

In [66]:
# Aqui su respuesta

Modifique la estructura del DF de modo que por cada registro haya un único valor para Population y GDP

In [67]:
# Aqui su respuesta